:root {
    --primary: #002c53;
    --primaryHover: #005eb1; 
    --dark: #121212;
    --lightgray: #ebebeb;
    --light: #fefefe;
    --danger: rgb(136, 0, 0);
    --dangerHover: rgb(216, 0, 0);
    --success: #009700;
}